*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #fff;
    background: #444;
    margin-bottom: 200px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.margin0{margin: 0;}
.padding0{padding: 0;}
.paddingLeft0{padding-left: 0;}
.paddingRight0{padding-right: 0;}
.marginBottom5{margin-bottom:5px;}
.marginLeftRight20{margin: 0 20px;}
.paddingLeftRight8{padding: 0 8px;}
.center{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}

#bg_div,
#blur_overlay,
#dim_overlay {
    height: 100%;
    width: 100%;
    position: relative;
}

#bg_div,
#blur_overlay {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes fade_in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fade_in {
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: both
}

.hover_opacity {
    opacity: .7;
    transition: opacity .3s;
}

.hover_opacity:hover {
    opacity: 1;
}

#blur_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(12px);
    filter: blur(12px);
}

#dim_overlay {
    display: none;
    z-index: 999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}


.searchCntnr {
    margin-left: 1%;
    margin-top: 1%;
    /*opacity: 0;*/
    /*transition: opacity 1s;*/
}
#srchImgBx {
    float: left;
}
#srchImgBx i {
    display: block;
    margin-bottom: 10px;
}

#srchBx {
    float: left;
}
#srchImg {
    padding: 6px;
    margin-left: 10px;
    border: 0;
    color: #000000;
}


#topActionBar{
    float: right;
    background-color: #fff;
    opacity: 0.6;
    padding: 5px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    margin-top: 1%;
}
#topActionBar a, #topActionBar li{
    color: #000000;
}
#topIconRow{margin: 0;}


.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

/* DATE & TIME */
.mainClock {
    color: white;
    text-align: center;
    font-size: 48px;
    cursor: default;
    opacity: 0;
    transition: opacity 1s;
    background-color: transparent;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.mainDate {
    color: white;
    text-align: center;
    font-size: 24px;
    cursor: default;
    opacity: 0;
    transition: opacity 1s;
    background-color: transparent;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* WEATHER */
.weatherBar {
    width: 100%;
    margin: -1px auto auto;
    padding: 6px 0;
    color:"#ffffff";
    fill: "#ffffff";
    background: transparent;
    font-size: 14px;
}
.weatherWind{
    text-align: center;
    padding: 0 0 10px;
    margin-bottom: 2px;
}
.weatherLarge{
    font-size: 22px;
}
.weatherSmall{
    font-size: 10px;
}
.weatherIcon{
    width: 75px;    
    height: 75px;
}
.weatherIcon:hover {
    cursor: pointer
}
.weatherDesc {
    text-transform: capitalize;
}
.weatherDetailModal{
    color: #333333;
}
.weatherDetailHeader{
    margin: 0 0 20px;
}
#forecast-display{
    border-top: 1px solid #ddd;
    margin: 20px 0 0;
    padding: 10px 0 0;
}

/* BOTTOM RIGHT LINKS */
.bottomLinksCntnr {
    padding: 124px 10px 0;
    opacity: 0;
    transition: opacity 1s;
}
#settings_dialog {
    display: none;
    z-index: 999;
    background: #fff;
    color: #444;
    font: normal 14px arial, sans-serif;
    line-height: 1.5;
    border-radius: 3px;
    padding: 20px 25px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -210px;
    width: 420px;
}
.x {
    width: 2%;
    position: absolute;
    right: 0px;
    padding-right: 2%;
}
.settings {
    color: #ffffff;
    float: right;
}