*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #fff;
    background: #fff;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottomright{
    position: absolute;
    right: 0;
    bottom: 0;
    float:right;
}
.margin0{margin: 0;}
.marginBottom5{margin-bottom:5px;}
.marginBottom10{margin-bottom:10px;}
.marginLeftRight20{margin: 0 20px;}
.marginBottom85{margin-bottom: 85px; }

.padding0{padding: 0;}
.paddingLeft0{padding-left: 0;}
.paddingRight0{padding-right: 0;}
.paddingLeftRight8{padding: 0 8px;}
.paddingLeftRight5{padding: 0 5px;}

.textcenter{text-align: center;}
.textleft{text-align: left;}
.textright{text-align: right;}

#bg_div,
#blur_overlay,
#dim_overlay {
    height: 100%;
    width: 100%;
    position: relative;
}

#bg_div,
#blur_overlay {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes fade_in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fade_in {
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: both
}

.hover_opacity {
    opacity: .7;
    transition: opacity .3s;
}

.hover_opacity:hover {
    opacity: 1;
}

#blur_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(12px);
    filter: blur(12px);
}

#dim_overlay {
    display: none;
    z-index: 999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}


.searchCntnr {
    margin-left: 1%;
    margin-top: 1%;
    /*opacity: 0;*/
    /*transition: opacity 1s;*/
}
#srchImgBx {
    float: left;
}
#srchImgBx i {
    display: block;
    margin-bottom: 10px;
}

#srchBx {
    float: left;
}
#srchImg {
    padding: 6px;
    margin-left: 10px;
    border: 0;
    color: #000000;
}


#topActionBar{
    float: right;
    background-color: #fff;
    opacity: 0.6;
    padding: 5px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    margin-top: 1%;
}
#topActionBar a, #topActionBar li{
    color: #000000;
}
#topIconRow{margin: 0;}

/* DATE & TIME */
.mainClock {
    color: white;
    text-align: center;
    font-size: 48px;
    cursor: default;
    background-color: transparent;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.mainDate {
    color: white;
    text-align: center;
    font-size: 24px;
    cursor: default;
    background-color: transparent;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* WEATHER */
.weatherBar {
    width: 100%;
    margin: -1px auto auto;
    padding: 6px 0;
    color:"#ffffff";
    fill: "#ffffff";
    background: transparent;
    font-size: 14px;
}
.weatherWind{
    text-align: center;
    padding: 0 0 10px;
    margin-bottom: 2px;
}
.weatherLarge{
    font-size: 22px;
}
.weatherSmall{
    font-size: 10px;
}
.weatherIcon{
    padding-top: 10px;
}
.weatherIcon:hover {
    cursor: pointer
}
.weatherDesc {
    text-transform: capitalize;
}
.weatherDetailModal{
    color: #333333;
}
.weatherDetailHeader{
    margin: 0 0 20px;
}

i.wi {
    font-size: 48px;
    display: inherit;
    text-align: center;
}



.weatherDetailModal .wind-direction span{
    vertical-align: middle;
}
.weatherDetailModal .wind-direction span.wind-string{
    padding-left: 2px;
}
.weatherDetailModal i.wi.wi-wind {
    font-size: 30px;
    padding: 0;
    vertical-align: middle;
}

.weatherDetailModal i.wi {
    font-size: 48px;
    color: darkslategray;
    padding: 15px 0;
}

.weatherDetailModal .wind-direction{
    height: 32px
}

#forecast-display{
    border-top: 1px solid #ddd;
    margin: 10px 0 0;
    padding: 10px 0 0;
}
.weatherDetailModal .btn-weatherDetail{
    background-color: white;
    color: #333;
    border-color: white;
    padding: 0;
    margin-left: 15px;
}
.fa-chevron-right, .fa-chevron-down {
        padding-top: 4px;
    font-size: 12px;
}
button[aria-expanded=true] .fa-chevron-right {
   display: none;
}
button[aria-expanded=false] .fa-chevron-down {
   display: none;
}

/* BOTTOM RIGHT LINKS */
.bottomLinksCntnr {
    padding: 124px 10px 0;
    opacity: 0;
    transition: opacity 1s;
}
#settings_dialog {
    display: none;
    z-index: 999;
    background: #fff;
    color: #444;
    font: normal 14px arial, sans-serif;
    line-height: 1.5;
    border-radius: 3px;
    padding: 20px 25px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -210px;
    width: 420px;
}
.x {
    width: 2%;
    position: absolute;
    right: 0px;
    padding-right: 2%;
}
.settings {
    color: #ffffff;
    float: right;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        /*i.wi {
            font-size: 28px;
        }*/
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }