<div class="row vertical-align">
    <div class="col-xs-5">
        <div class="pull-right">
            <p class="weatherRight weatherLarge" data-content="city"></p>
            <p class="weatherRight weatherDesc" data-content="curcondition"></p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="weatherIcon">
            <img src="" data-src="icon" />
        </div>
    </div>
    <div class="col-xs-5">
        <div class="pull-left">
            <p class="weatherLeft weatherLarge" data-content="curtemp"></p>
            <p class="weatherLeft" data-content="curLowHigh"></p>
        </div>
    </div>
</div>
