<div class="row vertical-align">
    <div class="col-xs-4 col-sm-5 padding0">
        <div class="pull-right">
            <p class="textright margin0 weatherLarge" data-content="city"></p>
            <p class="textright margin0 weatherDesc" data-content="curcondition"></p>
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 paddingLeftRight5">
        <div class="weatherIcon padding0" data-innerHTML="icon" data-format="OWMIconCode" id="weatherIcon"></div>
    </div>
    <div class="col-xs-4 col-sm-5 padding0">
        <div class="pull-left">
            <p class="textleft margin0 weatherLarge" data-content="curtemp"></p>
            <p class="textleft margin0" data-content="curLowHigh"></p>
        </div>
    </div>
</div>