<div class="row vertical-align">
    <div class="col-xs-4 col-sm-5 padding0">
        <div class="pull-right">
            <p class="textright margin0 weatherLarge" data-content="current_observation.display_location.full"></p>
            <p class="textright margin0 weatherDesc" data-content="current_observation.weather"></p>
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 paddingLeftRight5">
        <div class="weatherIcon padding0" data-innerHTML="current_observation.icon" data-format="IconCode" id="weatherIcon"></div>
    </div>
    <div class="col-xs-4 col-sm-5 padding0">
        <div class="pull-left">
            <p class="textleft margin0 weatherLarge" data-content="curtemp"></p>
            <p class="textleft margin0" data-content="feelslike"></p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal weatherDetailModal" id="weatherDetailModal" tabindex="-1" role="dialog" aria-labelledby="weatherDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                <h4 class="modal-title" id="weatherDetailModalLabel" data-content="current_observation.observation_location.full"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="weatherDetailHeader">Current conditions</h4>
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-5 paddingRight0">
                        <div class="pull-right">
                            <p class="textright margin0 weatherLarge" data-content="current_observation.display_location.full"></p>
                            <p class="textright margin0 weatherDesc" data-content="current_observation.weather"></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="weatherIcon padding0" data-innerHTML="current_observation.icon" data-format="IconCode"></div>
                    </div>
                    <div class="col-xs-5 paddingLeft0">
                        <div class="pull-left">
                            <p class="textleft margin0 weatherLarge" data-content="curtemp"></p>
                            <p class="textleft margin0" data-content="feelslike"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 wind">
                        <p class="textcenter margin0 wind-direction">
                            <span data-innerHTML="current_observation.wind_degrees" data-format="WindIconCode"></span>
                            <span data-innerHTML="current_observation.wind_string" class="wind-string"></span>
                        </p>
                    </div>
                </div>


                <div class="row">
                    <button class="btn btn-link btn-weatherDetail" type="button" data-toggle="collapse" data-target="#currentDetails" aria-expanded="false" aria-controls="currentDetails">
                    Details <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                    </button>

                    <div class="collapse" id="currentDetails">
                        <div class="col-sm-5 col-sm-offset-2">
                            <p class="textleft margin0 weatherSmall" data-content="dewpoint"></p>
                            <p class="textleft margin0 weatherSmall" data-content="humidity"></p>
                            <p class="textleft margin0 weatherSmall" data-content="preciprate"></p>
                            <p class="textleft margin0 weatherSmall" data-content="precipaccum"></p>
                            <p class="textleft margin0 weatherSmall" data-content="pressure"></p>
                        </div>
                        <div class="col-sm-5">
                            <p class="textleft margin0 weatherSmall" data-content="windchill"></p>
                            <p class="textleft margin0 weatherSmall" data-content="visibility"></p>
                            <p class="textleft margin0 weatherSmall" data-content="uv"></p>
                            <p class="textleft margin0 weatherSmall" data-content="solarradiation"></p>
                            <p class="textleft margin0 weatherSmall" data-content="heatindex"></p>
                        </div>
                    </div>
                </div>

                <div class="row" id="forecast-display"></div>
            </div>
            <div class="modal-footer">
                <p class="margin0" data-content="current_observation.station_id"></p>
            </div>
        </div>
    </div>
</div>
<!-- end Modal-->

<!--TODO-->
<!-- sunrise,sunset,moon phase -->
<!-- 
alerts
almanac
astonomy
forecast 10 day
history
hourly

station forcast URL
station histoy URL
query to specific PWS
-->