<div class="row vertical-align">
    <div class="col-xs-5">
        <div class="pull-right">
            <p class="right margin0 weatherLarge" data-content="current_observation.display_location.full"></p>
            <p class="right margin0 weatherDesc" data-content="current_observation.weather"></p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="weatherIcon" data-content="icon_code_white" id="weatherIcon"></div>
    </div>
    <div class="col-xs-5">
        <div class="pull-left">
            <p class="left margin0 weatherLarge" data-content="curtemp"></p>
            <p class="left margin0" data-content="feelslike"></p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal weatherDetailModal" id="weatherDetailModal" tabindex="-1" role="dialog" aria-labelledby="weatherDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                <h4 class="modal-title" id="weatherDetailModalLabel" data-content="current_observation.observation_location.full"></h4>
                <p class="margin0" data-content="current_observation.station_id"></p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="weatherDetailHeader">Current conditions</h4>
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-5">
                        <div class="pull-right">
                            <p class="right margin0 weatherLarge" data-content="current_observation.display_location.full"></p>
                            <p class="right margin0 weatherDesc" data-content="current_observation.weather"></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="weatherIcon" data-content="icon_code_black"></div>
                    </div>
                    <div class="col-xs-5">
                        <div class="pull-left">
                            <p class="left margin0 weatherLarge" data-content="curtemp"></p>
                            <p class="left margin0" data-content="feelslike"></p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
<div class="col-xs-12">
    <p class="weatherWind" data-content="wind"></p>
</div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="left margin0" data-content="dewpoint"></p>
        <p class="left margin0" data-content="humidity"></p>
        <p class="left margin0" data-content="preciprate"></p>
        <p class="left margin0" data-content="precipaccum"></p>
        <p class="left margin0" data-content="pressure"></p>
    </div>
    <div class="col-sm-6">
        <p class="left margin0" data-content="windchill"></p>
        <p class="left margin0" data-content="visibility"></p>
        <p class="left margin0" data-content="uv"></p>
        <p class="left margin0" data-content="solarradiation"></p>
        <p class="left margin0" data-content="heatindex"></p>
    </div>
</div>
<div class="row">
</div>
</div>
<div class="modal-footer">
</div>
</div>
</div>
</div>
<!-- end Modal-->

<!--TODO-->
<!-- sunrise,sunset,moon phase -->
<!-- 
alerts
almanac
astonomy
forecast
forecast 10 day
history
hourly

station forcast URL
station histoy URL
query to specific PWS
-->